*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    font-family: Lato, Arial, Helvetica, sans-serif;
    min-height: 100vh;
    padding: clamp(20px, 5vw, 50px) 10px 10px;
}

.container {
    background: #f1f1f1;
    border: 1px solid #36363692;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    max-width: 850px;
    padding: 25px;
}

h1 {
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

h1 strong {
    font-weight: 700;
}

.inputs-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.inputs-container label {
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
}

.inputs-container input {
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    min-width: 350px;
    padding: 15px;
}

.inputs-container input:focus {
    outline: 1px solid #222222be;
}

.input-group:nth-child(2) {
    margin-left: 20px;
}

form button {
    background: #fabe33;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin: 40px auto;
    min-width: 200px;
    padding: 10px;
}

form button:hover {
    background: #f2b527; 
}

.info {
    text-align: center;
}

.bmi-value {
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.result {
    font-family: Raleway, sans-serif;
    font-size: 20px;
}

@media (max-width: 800px) {
    .container {
        max-width: 600px;
    }

    .inputs-container {
        align-items: center;
        flex-direction: column;
    }

    .input-group:nth-child(2) {
        margin-left: 0px;
        margin-top: 30px;
    }
    .input-group {
        width: 100%;
    }
    
    .input-group input {
        min-width: auto;
        width: 100%;
    }
}